

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
	font-family:'Bebas Neue';
	color:white;
	font-size: 30pt;
}
a:hover {
	text-decoration: none;
	color:white;
}














